In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({
    "id": [1, 2, 3, 4, 5],
    "words": [
      ["aa", "ab", "ac"],
      ["aa", "ba", "bb"],
      ["ba", "bb", "bc"],
      ["ab", "ba", "bb"],
      ["ac", "ab", "ba"],
    ]
})
df

   id         words
0   1  [aa, ab, ac]
1   2  [aa, ba, bb]
2   3  [ba, bb, bc]
3   4  [ab, ba, bb]
4   5  [ac, ab, ba]

In [3]:
df_2 = df.copy()
for index, row in df.iterrows():
    for word in row.words:
        if word not in df_2.columns:
            df_2[word] = 0
            df_2.loc[index, word] = 1

In [4]:
df_2

   id         words  aa  ab  ac  ba  bb  bc
0   1  [aa, ab, ac]   1   1   1   0   0   0
1   2  [aa, ba, bb]   0   0   0   1   1   0
2   3  [ba, bb, bc]   0   0   0   0   0   1
3   4  [ab, ba, bb]   0   0   0   0   0   0
4   5  [ac, ab, ba]   0   0   0   0   0   0

In [5]:
mylist = ['d','e','f']

In [6]:
df_3 = pd.DataFrame(0, columns=mylist)
df_3

ValueError: DataFrame constructor not properly called!